@media screen and (max-width: 576px) {
    header{
        width: 100%;
        padding: 20px 20px;
    }
    nav{
        display: none;
    }
    .header-btn{
        display: none;
    }
    .header-mobile-img{
        display: block;
        cursor: pointer;
    }
    .hero-background-circle{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        top: 160px;
    }
    .hero-background-circle img{
        width: 46.67px;
        height: 70px;
    }
    .hero-background-circle span{
        top: 0px;
        left: 185px;
    }
    .about-part-one{
        width: 100%;
    }
    .about-part-two{
        grid-template-columns: repeat(2, auto);
        width: 100%;
        gap: 40px 0px;
    }
    .about-section{
        padding: 40px 20px;
    }
    .one{
    width: 400px;
    height: 287px;
    padding: 24px 24px 24px 24px;
}
.two{
    width: 400px;
    height: 215px;
    padding: 24px 24px 24px 24px;
}
.three{
    width: 400px;
    height: 215px;
    padding: 24px 24px 24px 24px;
}
.four{
    width: 400px;
    height: 311px;
    padding: 24px 24px 24px 24px;
}
.five{
    width: 400px;
    height: 215px;
    padding: 24px 24px 24px 24px;
}
    .choose-section-grid{
        justify-content: center;
        width: 100%;
        gap: 16px;
    grid-template-areas: "one one one"
                         "two two two" 
                         "three three three"
                         "four four four"
                         "five five five";
}
.choose-section h1 {
    font-size: 32px;
}
.chose-part-one h3{
    font-size: 22px;
}
.featured-items-card{
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    width: 100%;
    gap: 16px;
}
.featured-items{
    margin-bottom: 0px;
}
.featured-section h1{
    font-size: 32px;
    padding: 0px 0px 24px 0px;
}
.featured-section{
    padding: 40px;
}
}